<!-- {{tds?.amountPaid}}-->
<div id="print-section">
       
<div class="container container-fluid">
        <div class="row">
                <div class="col-xs-12">
    <div class="header">
            <textarea class="hup">INVOICE</textarea>
       <br>
       </div>
       <div class="headerDown">
       <textarea class="hdown1"> GST SUVIDHA</textarea>
       <br>
       <textarea class="hdown2">2, Mukhtar Toli,Nala Road Kadam Kuan </textarea>
    </div><!--header part end-->

    <div class="row"><!--addres row start-->
            <div class="col-xs-6">
              <address  class="lefthead">
                  <b>NAME OF DEDUCTOR</b>:ABCDEF<br>
                  <b>DEDUCTOR GSTIN</b>:12ww37yd3239<br>
              </address>
            </div>
            <!--address left div end-->
            <!--address right div start-->
            <div class="col-xs-6 text-right">
    				<address class="righthead">
                    <b>Date:</b> 12/3/2018<br>
                    <b>Place of supply:</b> BIHAR<br>
    					
    				</address>
                </div><!--address right end-->
            </div><!--address row end-->
            <!--address row secondory strat-->
            <div class="row">
                    <div class="col-xs-6">
                        <address  class="lefthead">
                            <strong>SUPPLIER DETAIL:</strong><br>
                            <b>Name:</b> 
                             GST SUVIDHA<br>
                            <b>Address:</b> 
                           KANKARBAGH PATNA<br>
                          
                        </address>
                    </div>
                  <!--  <div class="col-xs-6 text-right">
                        <address  class="righthead">
                            <strong>Order Date:</strong><br>
                            March 7, 2014<br><br>
                        </address>
                    </div>-->
                </div>  <!--address row secondory end-->
                </div><!--div col end-->
                </div><!--div 1st row end-->
<!--div second row start for table-->
<div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Amount Paid</strong></td>
        							<td class="text-center"><strong>CGST@1</strong></td>
        							<td class="text-center"><strong>SGST@1</strong></td>
                                    <td class="text-right"><strong>TotalTDS</strong></td>
                                    <td class="text-right"><strong>Net Amount</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td>{{tds?.amountPaid}}</td>
    								<td class="text-center">{{tds?.cgstAmount}}</td>
    								<td class="text-center">{{tds?.sgstAmount}}</td>
                                    <td class="text-right">{{tds?.tdsAmount}}</td>
                                    <td class="text-right">{{tds?.netAmount}}</td>
    							</tr>
                              
    						
    						</tbody>
    					</table>
    				</div>
                </div>
               
                  
                
            </div>
            <button class="btn bnt-primary" (click)="print()">PRINT</button>
    	</div>
    </div>
    


<!--div secon row end for table-->

</div><!--CONTAINER DIV END-->
</div>
<button (click)="print()">print</button>

